#search-block {
    margin-top: 50px;
}

body {
    background-color: #F1F0EB;
}

.navbar-custom {
    background-color: #4056A1;
    color: white;
}

.navbar-brand {
    color: white;
}

.account-input {
    width: 70%; 
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#location-input {
    width: 100%;
    height: 34px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



 