#search-block {
}

body {
    background-color: #F1F0EB;
    margin-top: 170px;
}

.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 50px;
}

.navbar-custom {
    background-color: #4056A1;
    color: white;
}

.navbar-brand {
    background-color: #4056A1 !important;
    color: white;
    border-style: none !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #D3D3D3;
}

.dropdown {
    color: white !important;
    background-color: #4056A1 !important;
}

.dropdown-menu {
    background-color: #4056A1 !important;
    color: white !important;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
    color: #D3D3D3 !important;
    background-color: #4056A1 !important;
}

.account-input {
    width: 70%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#location-input {
    width: 100%;
    height: 34px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.blue-button {
    color: #fff;
    background-color: #4056A1;
    border-color: #2e6da4;
}

.blue-button:focus,
.blue-button.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.blue-button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.red-button {
    color: #fff;
    background-color: #FF0000;
    border-color: #c60f0b;
}

.red-button:focus,
.red-button.focus {
    color: #fff;
    background-color: #FFA07A;
    border-color: #c60f0b;
}

.red-button:hover {
    color: #fff;
    background-color: #FFA07A;
    border-color: #c60f0b;
}

.title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#footer-image {
    width: 100%;
    height: 130px;
}

/*#region Weather table*/
#weather-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#weather-table td, #weather-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#weather-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#weather-table tr:hover {
    background-color: #ddd;
}

#weather-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
} 
/*#endregion*/

/*#region Sold Items table*/
#sold-items-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sold-items-table td, #sold-items-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sold-items-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sold-items-table tr:hover {
    background-color: #ddd;
}

#sold-items-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}
/*#endregion*/

/*#region Sold Item Details table*/

#sold-item-details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#sold-item-details td, #sold-item-details th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sold-item-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sold-item-details tr:hover {
    background-color: #ddd;
}

#sold-item-details th {
    width: 20%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}

/*#endregion*/

/*#region Events table*/
#events-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#events-table td, #events-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#events-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#events-table tr:hover {
    background-color: #ddd;
}

#events-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}
/*#endregion*/

/*#region Event Details table*/

#event-details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 50%;
}

/*#endregion*/

/*#region Marinas table*/
.marinas-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.marinas-table td, .marinas-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.marinas-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.marinas-table tr:hover {
    background-color: #ddd;
}

.marinas-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}
/*#endregion*/

/*#region Marina Details table*/

#marina-details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#marina-details td, #marina-details th {
    border: 1px solid #ddd;
    padding: 8px;
}

#marina-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

#marina-details tr:hover {
    background-color: #ddd;
}

#marina-details th {
    width: 20%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}

/*#endregion*/

/*#region Berths table*/
.berths-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.berths-table td, .berths-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.berths-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.berths-table tr:hover {
    background-color: #ddd;
}

.berths-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}
/*#endregion*/

/*#region Berth Details table*/

#berth-details {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#berth-details td, #berth-details th {
    border: 1px solid #ddd;
    padding: 8px;
}

#berth-details tr:nth-child(even) {
    background-color: #f2f2f2;
}

#berth-details tr:hover {
    background-color: #ddd;
}

#berth-details th {
    width: 20%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4056A1;
    color: white;
}

/*#endregion*/

/*#region Comment*/
.comment-list ul {
    padding: 20px;
}

.comment-list li {
    list-style-type: none;
    background: #DCDCDC;
    padding: 5px;
    margin-left: 35px;
}
/*#endregion*/


