#search-block {
    margin-top: 50px;
}

body {
    background-color: #F1F0EB;
}

.navbar-custom {
    background-color: #4056A1;
    color: white;
}

.navbar-brand {
    color: white;
}

/*fono spalva #F1F0EB*/
/* krastu spalva #4056A1*/
 