
@{
    ViewData["Title"] = "Index";
}

<body>
    <table id="weather-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Temperature</th>
                <th>Wind Speed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.WeatherList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Main.Temp °C</td>
                    <td>@item.Wind.Speed m/s</td>
                </tr>
            }
        </tbody>
    </table>
</body>

