<body>
    <div class="center-div">
        <h4 class="title">Congratulations, Your reservation was successful!</h4>
        <h4 class="title">Please check your email for confirmation letter</h4>
    </div>
</body>




