<div>Congratulations, Your reservation was successful!</div>
<div>Please check your email for confirmation letter</div>

<div>@Html.ActionLink("Index", "Home", new { @class = "btn blue-button btn-large buttons-with-70proc-width" })</div>
