
@{
    ViewData["Title"] = "Index";
}

<h2>Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Berthid</th>
            <th>CheckIn</th>
            <th>CheckOut</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ItemsList)
        {
            <tr>
                <td>@item.BerthId</td>
                <td>@item.CheckIn</td>
                <td>@item.CheckOut</td>
            </tr>
        }
    </tbody>
</table>

