
<body>
    <h2 class="title">Reservations</h2>

    <table class="reservations-table">
        <thead>
            <tr>
                <th>Berth Number</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ItemsList)
            {
                <tr>
                    <td>@item.BerthId</td>
                    <td>@item.CheckIn.Substring(0, 10)</td>
                    <td>@item.CheckOut.Substring(0, 10)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
