
<body>
    <div class="center-div">
        <h4 class="title">Login or Register</h4>
        @Html.ActionLink("Login", "Login", "User", new { @class = "btn blue-button btn-large buttons-with-70proc-width" })
        @Html.ActionLink("Register", "CreateUser", "User", new { @class = "btn blue-button btn-large buttons-with-70proc-width" })
    </div>
</body>