
<body>
    <table id="berth-details">
        <tr>
            <th>Berth Number:</th>
            <td>@ViewBag.BerthsList.BerthId</td>
        </tr>
        <tr>
            <th>Price per Day:</th>
            <td>@ViewBag.BerthsList.Price €</td>
        </tr>
    </table>
</body>


