
@{
    ViewData["Title"] = "Details";
}

<body>
    <ul class="details">
        <li><h2>Details</h2></li>
        <li>Berth Number: @ViewBag.BerthsList.BerthId</li>
        <li>Price per one day: @ViewBag.BerthsList.Price  €</li>
    </ul>
</body>


