
<body>
    <table id="berth-details">
        <tr>
            <th>Berth Number:</th>
            <td>@ViewBag.BerthsList.BerthId</td>
        </tr>
        <tr>
            <th>Price per Day:</th>
            <td>@ViewBag.BerthsList.Price €</td>
        </tr>
    </table>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <div>@Html.ActionLink("Delete", "Delete", new { berthId = (int)ViewBag.BerthId }, new { @class = "btn red-button btn-large buttons-with-70proc-width" })</div>
        </div>
    }
</body>


