
@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Berths</h2>

    <table class="berths-table">
        <thead>
            <tr>
                <th>Berth Number</th>
                <th>Price</th>
                <th>More Information</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.BerthsList)
            {
                <tr>
                    <td>@item.BerthId</td>
                    <td>@item.Price</td>
                    <td>@Html.ActionLink("More Information", "Details", new { marinaId = item.MarinaId, berthId = item.BerthId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })</td>
                </tr>
            }
        </tbody>
    </table>
</body>
