

<article id="event-details">
    <h2>@ViewBag.EventsList.Title</h2>
    <div>@ViewBag.EventsList.Location</div>
    <div>@ViewBag.EventsList.Period</div>
    <p>@ViewBag.EventsList.Description</p>
</article>


