
<body>
    <h1>Contacts</h1>
    <h3><b>Address</b></h3>
    <address>
        Savanorių st. 349<br />
        LT-51480 Kaunas, Lietuva<br />
    </address>
    <h3><b>Contact Us</b></h3>
    <address>
        <p><span class="glyphicon glyphicon-phone"></span> Telephone: +370 65617486></p>
        <p><span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:info@bmarinas.lt">info@bmarinas.lt</a>></p>
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.9275613822438!2d23.
    954372915359382!3d54.92174326324501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e718f3d7a052c3%3A0xa4bab409b02cba7!
    2sSavanori%C5%B3+pr.+349%2C+Kaunas+49425!5e0!3m2!1sen!2slt!4v1546108118665"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>

