@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>

    @using (Html.BeginForm("ByCountry", "Marina", FormMethod.Get))
    {
    <div class="container" id="search-block">
        <div class='col-md-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" name="checkIn" placeholder="Check-in" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-4'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" name="checkOut" placeholder="Check-in" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="display:inline-block">
                <div class="row">
                    <div class="col-md-8">
                       
                        @Html.DropDownList("country", (SelectList)ViewBag.Locations, new { @id = "location-input"})
                    </div>
                    <div class="col-md-4">
                        <button type="submit" value="Filter" class="btn blue-button btn-small btn-block"> <span class="glyphicon glyphicon-search"></span> @Html.DisplayName("Search")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</body>
<div data-interval="6000">
</div>
</html>